@import './variables.scss';
//Styles that are shared between pages
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

//From "home_page_style.css"

.dark_background {
    background-color: rgb(22, 22, 22);
}

.gray_background {
    background-color: rgb(63, 63, 63);
}

.black_background {
    background-color: rgb(0, 0, 0);
}

.dark_gray_background {
    background-color: rgb(40, 40, 40);
}

//default new
body {
    background-color: $background-color;
    color: $text-color;
}
img {
    max-height: 100%;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
p {
    font-family: $text-font;
}

.nav-item {
    a {
        
        &:hover {
            color: $accent-text-color;
        }
        &:active {
            color: inherit;
        }
        
    }
}




//Navbar
nav {
    background-color: $navbar-background-color;
    /*makes the bootstrap navbar this green color*/
    min-height: 59px;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    color: $navbar-text-color;
}

footer {
    height: 40vh;
    min-height: 200px;
    background-color: $dark-background-color;
    text-align: center;
    position: relative;
    padding-top: 100px;
    //The dividing line
    &::after {
        content: '';
        position: absolute;
        top: -45px;
        left: 0;
        height: 90px;
        width: 100%;
        background-image: url('../images/line_divider_svg.svg');
        background-repeat: repeat-x;
    }
    .social-media-icons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        li {
            list-style: none;
            height: calc(clamp(35px, 3vw, 70px));
            width: calc(clamp(35px, 3vw, 70px));
            position: relative;
            a {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 50%;
                background-color: $background-color;
                line-height: 0;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: $text-color;
                    svg {
                        fill: $background-color;
                    }
                }
                //dynamically changes color when hovering and clicked on
                &:active {
                    background-color: $background-color;
                    svg {
                        fill: inherit;
                    }
                }
            }
            svg {
                height: 50%;
                width: 50%;
                fill: $text-color;
                margin: auto;
            }
        }
    }
    #copyright-text {
        color: $background-color;
        font-weight: 500;
    }
}
.photo-section {
    height: 70vh;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: relative;
    display: grid;
    place-items: center;

    //dividing line
    &::after {
        content: '';
        display: block;
        position: absolute;
        //bottom and height are relative to each other
        bottom: -18px;
        height: 38px;
        width: 100%;
        background-image: url('../images/Line\ Dash\ Thing.png');
        transform: scaleY(80%);
        background-repeat: repeat-x;
    }
    //Dark gradient on photo
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    h1 {
        position: absolute;
        font-size: calc(clamp(2rem, 10vw, 6rem));
        color: $text-color;
        font-weight: 550;
    }
}

@media only screen and (max-width: 767px) {
    .small_social-media-logo {
        max-width: 10vw;
        max-height: 10vw;
    }
}
@media only screen and (max-width: 1050px) {
    // From "home_page _style.css
    .small_index_row {
        flex-direction: column;
        padding: 2%;
    }

    .small_row {
        display: none;
    }

    .small_row_text_setup {
        position: static;
        text-align: center;
        background-color: rgb(42, 42, 42);
        width: 100%;
        margin-left: 0;
        order: 1;
        padding: 0% 0% 0% 0%;
    }

    .small_picture {
        align-self: center;
        padding: 2%;
        order: 2;
    }
}

//ROW STUFF

//small row
@media only screen and (max-width: 1150px) {
    .row-pic-right {
        display: none;
    }

    .row-pic-left {
        display: none;
    }

    .small-stacked-row {
        text-align: center;
        background-color: $row-background-color;

        img {
            padding: 0% 5% 5% 5%;
            max-height: 400px;
        }
        .main-image {
            width: 100%;
            padding: 0;
            object-fit: cover;
        }
        h1 {
            padding-top: 5%;
            font-size: calc(clamp(3rem, 5vw, 10rem));
        }

        p {
            padding: 0% 5% 5% 5%;
        }
    }

    .small-row-padding {
        padding-top: 50px;
    }
}

//To hide the rows when they are not needed
@media only screen and (min-width: 1151px) {
    .small-stacked-row {
        display: none;
    }

    .small-row-padding {
        display: none;
    }
}

.space-after-rows {
    padding-top: 100px;
}

.row-padding {
    padding-top: 50px;
}

.row-pic-right {
    justify-content: space-between;
    flex-direction: row-reverse;

    .words-on-background {
        img {
            object-fit: cover;
            object-position: 100%;
        }

        //Title
        h1 {
            padding: 0% 10% 0% 0%;
            left: 20px;
            top: 10px;
        }

        //Text
        p {
            padding: 0% 10% 0% 0%;
            left: 20px;
            top: 110px;
        }
    }
}

.row-pic-left {
    justify-content: space-between;
    overflow: hidden;

    .words-on-background {
        img {
            object-fit: cover;
            object-position: 0%;
        }

        //Title
        h1 {
            padding: 0% 2% 0% 0%;
            left: 120px;
            top: 10px;
        }

        //Text
        p {
            padding: 0% 2% 0% 0%;
            left: 120px;
            top: 110px;
        }
    }
}

.words-on-background {
    position: relative;

    img {
        min-width: 100%;
        min-height: 100%;
    }

    //Title
    h1 {
        position: absolute; /* This is absolute to make it overlay on the image*/
        font-size: calc(clamp(3rem, 5vw, 5rem));
        top: 0px;
    }

    //Text
    p {
        position: absolute; /* This is absolute to make it overlay on the image*/
        font-size: 20px;
        top: 0px;
    }
}

.wide-screen-support {
    max-width: $widescreen-min-width;
    justify-content: center;
    padding: 0px; //prevent the padding on the left and right that comes with bootstrap
}

.trickfire-green {
    background-color: $primary-color;
}



.link-in-text {
    text-decoration: underline;
    color: aliceblue;
}
