@import './variables.scss';
//Styles that are shared between pages
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

//From "home_page_style.css"
//Navbar
nav {
    background-color: rgb(
        56,
        215,
        56
    ); /*makes the bootstrap navbar this green color*/
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    color: rgb(235, 235, 235);
}

.dark_background {
    background-color: rgb(22, 22, 22);
}

.gray_background {
    background-color: rgb(63, 63, 63);
}

.black_background {
    background-color: rgb(0, 0, 0);
}

.dark_gray_background {
    background-color: rgb(40, 40, 40);
}

/*social media stuff*/
.social-media-logo {
    margin: 1vw;

    height: auto;
    width: auto;

    max-width: 4vw;
    max-height: 4vw;
}

//default new
body {
    background-color: $background-color;
    color: $text-color;
}
img {
    max-height: 100%;
    max-width: 100%;
}
h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.photo-section {
    height: 70vh;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: relative;

    display: grid;
    place-items: center;

    //dividing line
    &::after {
        content: '';
        display: block;
        position: absolute;
        //bottom and height are relative to each other
        bottom: -18px;
        height: 38px;
        width: 100%;
        background-image: url('../images/Line\ Dash\ Thing.png');
        transform: scaleY(80%);
        background-repeat: repeat-x;
    }
    //Dark gradient on photo
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    h1 {
        position: absolute;
        //bottom: 35%;
        //left: 50%;
        //transform: translate(-50%, 0);
        font-size: calc(clamp(3rem, 7vw, 6rem));
        color: $text-color;
        font-weight: 550;
    }
}

.main-showcase {
    display: flex;
    padding: 4rem 0;
    justify-content: space-between;
    img {
        height: 629px;
        width: 30vw;
    }
    .trapezoid-textbox {
        //Don't use, just for cohesion
        height: 629px;
        background-size: cover;
        line-height: 30px;
        width: 70vw;
        //& is just taking the parent's name which is "trapezoid-textbox"
        &-right {
            @extend .trapezoid-textbox;
            background-image: url(../images/right_block_body.png);
        }
        &-left {
            @extend .trapezoid-textbox;
            background-image: url(../images/left_block_body.png);
        }
        h1,
        p {
            position: relative;
            left: 10rem;
            top: 3.5rem;
            color: $text-color;
            font-weight: 430;
            //Bandage patch WILL NEED TO BE FIXED
            width: 45vw;
        }
        h1 {
            font-size: 50px;
            font-weight: 500;
        }
        p {
            margin-top: 20px;
            font-size: 25px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .small_social-media-logo {
        max-width: 10vw;
        max-height: 10vw;
    }
}
@media only screen and (max-width: 1050px) {
    // From "home_page _style.css
    .small_index_row {
        flex-direction: column;
        padding: 2%;
    }

    .small_row {
        display: none;
    }

    .small_row_text_setup {
        position: static;
        text-align: center;
        background-color: rgb(42, 42, 42);
        width: 100%;
        margin-left: 0;
        order: 1;
        padding: 0% 0% 0% 0%;
    }

    .small_picture {
        align-self: center;
        padding: 2%;

        order: 2;
    }

    //new stuff
    .main-showcase {
        display: block;
        padding: 30px 0;
        img {
            height: auto;
            width: 100%;
            //change ordering depends if picture is first or text but not yet implemented
            order: 1;
            z-index: -1;
        }
        .trapezoid-textbox {
            background-image: none;
            background-color: rgb(42, 42, 42);
            width: 100%;
            padding: 3rem 0;
            height: fit-content;
            //change ordering depends if picture is first or text but not yet implemented
            order: 2;
            h1,
            p {
                position: relative;
                font-weight: 430;
                left: 0;
                top: 0;
                width: 100%;
                text-align: center;
            }
            h1 {
                font-size: 50px;
                font-weight: 500;
            }
            p {
                font-size: 25px;
            }
        }
    }
}


//ROW STUFF

//small row
@media only screen and (max-width: 1150px) {
    .row-pic-right{
        display: none;
    }

    .row-pic-left{
        display: none;
    }

    .small-stacked-row{
        text-align: center;
        background-color: $row-background-color;
        
        img{
            padding: 0% 5% 5% 5%;
        }

        h1{
            padding-top: 5%;
            font-size: 70px;
        }

        p{
            padding: 0% 5% 5% 5%;
        }
    }

    .small-row-padding{
        padding-top: 50px;
    }
}

//To hide the rows when they are not needed
@media only screen and (min-width: 1151px) {
    .small-stacked-row{
        display: none;
    
    }

    .small-row-padding{
        display: none;
    }
}

.space-after-rows {
    padding-top: 50px;
}



.row-padding{
    padding-top: 50px;
}

.row-pic-right{
    justify-content: space-between;
    flex-direction: row-reverse;

    .words-on-background{
    
        img{
            object-fit: cover;
            object-position: 100%;
        }
    
        //Title
        h1{
            padding: 0% 10% 0% 0%;
            left: 20px;
            top: 20px;
    
        }
    
        //Text
        p{
            padding: 0% 10% 0% 0%;
            left: 20px;
            top: 120px;
    
        }
    }
}

.row-pic-left{
    justify-content: space-between;
    overflow: hidden;

    .words-on-background{
    
        img{
            object-fit: cover;
            object-position: 0%;
        }

        //Title
        h1{
            padding: 0% 2% 0% 0%;
            top: 20px;
            left: 120px;
    
        }
    
        //Text
        p{
            padding: 0% 2% 0% 0%;
            left: 120px;
            top: 120px;
            text-align: start;
        }
    }
}


.words-on-background{
    position: relative;

    img{
        min-width: 100%;
        min-height: 100%;
    }

    //Title
    h1{
        position: absolute; /* This is absolute to make it overlay on the image*/
        font-size: calc(clamp(3rem, 4vw, 6rem));;
        top: 0px;

    }

    //Text
    p{
        position: absolute; /* This is absolute to make it overlay on the image*/

        font-size: 20px;
        top: 0px;

    }
}




// In progress: large screens
// .trapezoid-photo {
//     height: 629px;
//     background: cover;
//     background-position: ;
//     background-size: cover;
//     background-repeat: no-repeat;
//     width 37vw;
//     height: 629px;
//     padding: 0;
//     margin: 0;
//     &-right {
//         @extend .trapezoid-photo;
//         background-image: url('../images/lunar-surface-resized.jpg');
//     }
//     &-left {
//         @extend .trapezoid-photo;
//     }
// }
