// @import './default.scss';
@import './variables.scss';
h1 {
    color: black;
}

h2 {
    // text-align: center;
}

a {
    padding: 0;
    margin: 0;
}

.sponsorship-photo-section {
    background-image: url(../images/Outreach_Fire_Trick_Robotics.jpg);
}
.header {
}
