//Tried to make a list of cohesive colors
$primary-color: rgb(56, 215, 56);
$light-background-color: rgb(63, 63, 63);
$background-color: rgb(56, 56, 56);
$dark-background-color: rgb(22, 22, 22);
$text-color: rgb(223, 223, 223);
$accent-text-color: white;
