*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #38d738;
  /*makes the bootstrap navbar this green color*/
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  color: #ebebeb;
}

img {
  max-height: 100%;
  max-width: 100%;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.photo-section {
  height: 50vh;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -50% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.photo-section::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50%;
  height: 300px;
  width: 100%;
  background-image: url("../images/Line Dash Thing.png");
  background-repeat: repeat-x;
}

.photo-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.photo-section h1 {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: calc(clamp(3rem, 7vw, 6rem));
  color: #dfdfdf;
  font-weight: 550;
}
