*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #38d738;
  /*makes the bootstrap navbar this green color*/
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  color: #ebebeb;
}

body {
  background-color: #383838;
  color: #dfdfdf;
}

img {
  max-height: 100%;
  max-width: 100%;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.photo-section {
  height: 70vh;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -50% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.photo-section::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  height: 38px;
  width: 100%;
  background-image: url("../images/Line Dash Thing.png");
  -webkit-transform: scaleY(80%);
          transform: scaleY(80%);
  background-repeat: repeat-x;
}

.photo-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.photo-section h1 {
  position: absolute;
  bottom: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: calc(clamp(3rem, 7vw, 6rem));
  color: #dfdfdf;
  font-weight: 550;
}

.main-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.parallelogram-textbox-right {
  height: 629px;
  background-image: url(../images/block_body.png);
  background-size: cover;
  padding: 30px 0 0 80px;
  line-height: 30px;
  width: 62vw;
}

.parallelogram-textbox-right h1 {
  color: #dfdfdf;
  font-weight: 430;
  z-index: 10000;
}

.trapezoid-photo, .trapezoid-photo-right, .trapezoid-photo-left {
  height: 629px;
  background: cover;
}

.trapezoid-photo-right {
  background-image: url("../images/lunar-surface-resized.jpg");
}

.test {
  height: 629px;
  position: relative;
  left: 18rem;
  -webkit-clip-path: polygon(0 0, 43vw 0, 30vw 100vh, 0 100vh);
          clip-path: polygon(0 0, 43vw 0, 30vw 100vh, 0 100vh);
}
