/*Homepage*/
.trickfire_text {
  color: #dfdfdf;
  font: bold;
  font-size: calc(clamp(3rem, 7vw, 6rem));
  white-space: normal;
}

.text-intro {
  font-size: 20px;
  font-weight: 500;
  color: #dfdfdf;
}

.trickfire_logo_left_text {
  margin-left: 10%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 5%;
}

.trickfire_logo {
  margin-top: 5%;
  margin-left: 5%;
  width: 100%;
  height: 100%;
  max-width: calc(clamp(15rem, 20vw, 18rem));
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.join-us-button {
  text-align: center;
  font-size: 40px;
}

/*calendar*/
.calendar-block {
  margin: 0 auto;
}

.calendar-iframe {
  height: calc(clamp(37rem, 50vh, 70rem));
  width: calc(clamp(40rem, 70vw, 100rem));
}

/*For the title screen*/
@media only screen and (max-width: 767.5px) {
  .trickfire_text {
    color: aliceblue;
    font: bold;
    font-size: 50px;
    text-align: center;
  }
  .text-intro {
    font-size: 20px;
    font-weight: 500;
    color: #e9e9e9;
    text-align: center;
  }
  .trickfire_logo_left_text {
    margin-left: 0%;
    margin-top: 0%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .trickfire_logo {
    content: url("../images/front_logo.svg");
    max-width: 20%;
    max-height: 60%;
    margin-left: 40%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .small_calendar-iframe {
    height: calc(max(5rem, 70vw));
    width: calc(max(5rem, 95vw));
  }
}

.top-divider-edges-image {
  background-image: url("../images/divider1_tip.png");
}

.bottom-divider-edges-image {
  background-image: url("../images/divider2_tip.png");
}

.divider-edges {
  width: calc( (100vw - 2000px) / 2);
  background-repeat: repeat-x;
}

.team-calendar-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: calc(clamp(2rem, 10vw, 6rem));
}
