a {
  padding: 0;
  margin: 0;
}

.sponsorship-photo-section {
  background-image: url(../images/photo_section/outreach_trickfire_robotics_compressed.jpg);
  background-position: 0 30%;
}

.sponsorship-logo-container {
  margin: 0 5%;
  padding: 4rem 5% 4rem 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sponsorship-logo-container .sponsor-logo-pic-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.sponsorship-logo-container .sponsor-logo-pic-block img {
  max-height: 220px;
  padding: 20px;
}

@media only screen and (max-width: 766px) {
  .sponsorship-logo-container {
    margin: 0;
  }
}

@media only screen and (max-width: 1050px) {
  #sponsorship-main-showcase-photo-1 {
    content: url("../images/lunar-surface.jpg");
  }
  #sponsorship-main-showcase-photo-2 {
    content: url("../images/lunar-surface.jpg");
  }
}
