@import './variable.scss';

* {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    height: 100vh;

    .header__background {
        background-image: url(../assets/images/unslanted_team_photo_rmc_2017.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $fadeBlack;
        }
    }



    .header__content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        z-index: 1;
        margin-left: 50px;

        /*tablet*/
        @media screen and (max-width:1000px) {
            margin-left: 0;
        }

        h1 {
            transform: translate(33%, -10%);

            /*phone*/
            @media screen and (max-width:850px) {
                width: 400px;
                transform: translate(13%, -10%);
            }
        }
    }



}

section {

    .rows {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-gap: 130px;
        margin-top: 70px;
        justify-content: center;
        align-content: center;
        margin-bottom: 100px;
    }

    .image__container {
        display: grid;
        position: relative;
        z-index: 1;
        grid-template-columns: 1fr 363px 891px 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        justify-self: center;
        align-self: center;

        /*tablet*/
        @media screen and (max-width:1000px) {}

        /*phone*/
        @media screen and (max-width:850px) {
            margin-top: 20px;
            grid-template-columns: auto;
        }
    }

    .image__container::before {
        content: "";
        position: absolute;
        width: 1150px;
        height: 319px;
        margin-left: 55px;
        transform: skew(-16deg);
        z-index: -10;
        box-shadow: 20px 20px 1px rgb(39, 198, 39);
    }

    .image__left {
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: right;
    }

    .image__left img {
        width: 363px;
        height: 319px;


        /*tablet*/
        @media screen and (max-width:1000px) {
            width: 400px;
            height: 319px;
        }

        /*phone*/
        @media screen and (max-width:850px) {}
    }

    .image__left.responsive {
        display: none;
    }

    .span__container.responsive {
        display: none;
    }

    .words-on-background {
        grid-row: 1/2;
        grid-column: 3/4;
        align-self: right;
        position: relative;
        z-index: -5;
    }

    .words-on-background img {
        width: 891px;
        height: 319px;
        filter: brightness(0);
    }

    .text-container {
        position: absolute;
        margin-right: 70px;
        left: 100px;
        top: 20px;
    }

    .text-container span {
        margin-left: 200px;
    }

    .text-container p {
        margin-top: 50px;
    }

    .second-block.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image__container.responsive {
        display: none;
    }


    @media screen and (max-width:1000px) {
        .image__left.responsive {
            display: block;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: minmax(300px, auto);
        }

        .image__left.responsive img {
            width: 400px;
            height: 319px;
        }

        .span__container.responsive {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: minmax(300px, auto);
            background-color: black;
            width: 400px;
            height: 300px;
            text-align: left;
        }

        .span__container.responsive p {
            margin-left: 25px;
            margin-right: 25px;
        }

        .first-block.responsive {
            display: flex;
            flex-direction: column;
            box-shadow: 20px 20px 1px rgb(39, 198, 39);
            margin-bottom: 100px;
        }

        .second-block.responsive {
            display: flex;
            flex-direction: column;
            box-shadow: 20px 20px 1px rgb(39, 198, 39);
        }

        .words-on-background {
            display: none;
        }

        .image__container {
            display: none;
        }

        .image__container.responsive {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;

        }

        .image__container::before {
            display: none;
        }

        .words-on-background.responsive {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-color: black;
            width: 400px;
            height: 319px;
        }
    }

}