@import './variable.scss';

.homePage__header {
    height: 100vh;
    position: relative;

    .homePage__header__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: auto auto;
        height: auto;
        width: 70%;
        align-items: center;
        justify-content: center;
        grid-column-gap: 100px;
        grid-row-gap: 30px;

        /*tablet*/
        @media screen and (max-width:1000px) {
            grid-column-gap: 10px;
            width: 90%;
        }

        /*phone*/
        @media screen and (max-width:850px) {
            grid-column-gap: 30px;
        }
    }

    .homePage__header__image {
        grid-row: 1/3;
        grid-column: 2/3;
        height: 350px;

        @media screen and (max-width:800px) {
            grid-row: 1/2;
            grid-column: 2/3;
            height: 200px;
        }
    }

    h1 {
        height: 100%;
        font-size: 80px;
        font-weight: 500;

        @media screen and (max-width:1000px) {
            font-size: 3rem;
        }
    }

    p {
        grid-row: 2/3;
        grid-column: 1/2;
        color: $fadeWhite;
        font-size: 22px;

        @media screen and (max-width: 800px) {
            grid-row: 2/3;
            grid-column: 1/3;
            font-size: 20px;
        }
    }
}

.homePage__header__scrollBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    cursor: pointer;

    @media screen and (min-width: 800px) and (max-width: 1024px) {
        bottom: 50px;
    }

    .homePage__header__btn {
        height: 38px;
        width: 5px;
    }

    .homePage__header__scrollGreen {
        transform: translate(50%, 50%);
    }

    .homePage__header__scrollWhite {
        transform: translateX(50%);
    }

    .header__scroll--left {
        transform: translateX(-240%) rotate(-57deg);
    }

    .header__scroll--right {
        transform: translateX(240%) rotate(57deg);
    }
}