@import './variable.scss';


.navBar-activePage {
    position: relative;
    font-weight: 600 !important;
}

.navBar-activePage::before {
    content: '';
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    height: 3px;
    width: 100%;
    background-color: $black;

    @media screen and (max-width:850px) {
        display: none;
    }
}