@import './variable.scss';

* {
    box-sizing: border-box;
}

.card__container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 319px;
    max-width: 1200px;

    /*phone*/
    @media screen and (max-width:500px) {
        width: 80%;
        margin-top: 20px;
        align-items: center;
        height: fit-content;
    }

    /*tablet*/
    @media screen and (max-width:1000px) and (min-width:500px) {
        width: 60%;
        height: fit-content;
    }
}

.card__shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 0;

    @media screen and (max-width:1000px) {
        display: none;
    }
}

.image__container {
    display: flex;
    position: relative;
    z-index: 1;

    height: 100%;
}

//.image__container::before {
//    display: block;
//    content: "";
//    position: absolute;
//    width: calc(90vw - 110px);
//    height: 100%;
//    z-index: -10;
//    box-shadow: 20px 20px 0 rgb(39, 198, 39);
//    top: 0;
//    left: 50%;
//    transform: translateX(-50%) skew(-15.5deg);
//}

.image__left {
    width: 30%;
}

.image__left img {
    width: 100%;
    height: 100%;
}

.image__left.responsive {
    display: none;
}

.words-on-background {
    position: relative;
    width: 100%;
    height: 100%;
}

.words-on-background img {
    width: 100%;
    height: 100%;
    filter: brightness(0);
}

.text-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.text-container h5 {
    width: fit-content;
    margin: 0 auto;
}

.text-container p,
.text-container a {
    font-size: 18px;
}

.text-container ul {
    width: 700px;
    font-size: 18px;
}

.image__container.responsive {
    display: none;
}


@media screen and (max-width:1000px) {
    .image__left.responsive {
        display: block;
        width: 100%;
    }

    .image__left.responsive img {
        width: 100%;
        height: 100%;
    }

    .block.responsive {
        display: flex;
        flex-direction: column;
        box-shadow: 20px 20px 1px rgb(39, 198, 39);
        width: fit-content;
        width: 100%;
    }

    .words-on-background {
        display: none;
    }

    .image__container {
        display: none;
    }

    .image__container.responsive {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
    }

    .image__container::before {
        display: none;
    }

    .words-on-background.responsive {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: black;
        width: 100%;
        height: auto;
    }

    .words-on-background.responsive p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
    }
}