@import './variable.scss';

* {
    box-sizing: border-box;
}

.image__container {
    display: grid;
    position: relative;
    z-index: 1;
    grid-template-columns: 1fr 363px 891px 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    justify-self: center;
    align-self: center;

    /*tablet*/
    @media screen and (max-width:1000px) {}

    /*phone*/
    @media screen and (max-width:850px) {
        margin-top: 20px;
        grid-template-columns: auto;
    }
}

.image__container::before {
    content: "";
    position: absolute;
    width: 1150px;
    height: 319px;
    margin-left: 55px;
    transform: skew(-16deg);
    z-index: -10;
    box-shadow: 20px 20px 1px rgb(39, 198, 39);
}

.image__left {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: right;
}

.image__left img {
    width: 363px;
    height: 319px;
}

.image__left.responsive {
    display: none;
}

.words-on-background {
    grid-row: 1/2;
    grid-column: 3/4;
    align-self: right;
    position: relative;
    z-index: -5;
}

.words-on-background img {
    width: 891px;
    height: 319px;
    filter: brightness(0);
}

.text-container {
    position: absolute;
    margin-right: 70px;
    left: 100px;
    top: 20px;
}

.text-container span {
    margin-left: 200px;
}

.text-container p {
    margin-top: 40px;
    width: 700px;
    font-size: 19px;
    margin-bottom: 10px;
}

.text-container ul {
    width: 700px;
    font-size: 19px;
}

.image__container.responsive {
    display: none;
}


@media screen and (max-width:1277px) {
    .image__left.responsive {
        display: block;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: minmax(300px, auto);
    }

    .image__left.responsive img {
        width: 400px;
        height: 319px;
    }

    .block.responsive {
        display: flex;
        flex-direction: column;
        box-shadow: 20px 20px 1px rgb(39, 198, 39);
    }

    .words-on-background {
        display: none;
    }

    .image__container {
        display: none;
    }

    .image__container.responsive {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;

    }

    .image__container::before {
        display: none;
    }

    .words-on-background.responsive {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: black;
        width: 400px;
        height: auto;
    }

    .words-on-background.responsive p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: large;
    }
}