@import './variable.scss';


.sponsorship__header {
    position: relative;
    height: 100vh;

    .sponsorship__header__background {
        background-image: url(../assets/Trickfire_image/original_image/sponsorship/outreach_trickfire_robotics.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $fadeBlack;
        }

        .sponsorship__header__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 70%;

            /*tablet*/
            @media screen and (max-width:1000px) {
                width: 90%;
            }

            h1 {

                /*phone*/
                @media screen and (max-width:850px) {
                    width: fit-content;
                }
            }

            p {
                font-size: 22px;

                @media screen and (max-width:1000px) {
                    text-align: center;
                    font-size: 20px;
                }
            }

        }
    }
}

.sponsorship__howToSponsor {
    width: 100%;


    h3 {
        width: fit-content;
    }

    .sponsorship__howToSponsor__content__wrapper {
        width: calc(100% - 6rem);
        background-color: $black;
        transform: skew(-16deg);
        border-radius: 5px;
        position: relative;

        @media screen and (max-width:800px) {
            transform: skew(0);
        }



        .sponsorship__howToSponsor__content {

            transform: skew(16deg);

            @media screen and (max-width:800px) {
                transform: skew(0);
                flex-direction: column;
                align-items: center;
                margin: 0 auto !important;
            }

            p {
                width: 60%;

                @media screen and (max-width:800px) {
                    margin-top: 20px;
                    width: 100%;
                    text-align: center;
                    order: 2;
                }
            }

            img {
                height: 12rem;

                @media screen and (max-width:800px) {
                    height: auto;
                    width: 100%;
                    order: 1;
                }
            }
        }
    }
}

.sponsorship__howToSponsor__content__wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: skew(0deg);
    z-index: -10;
    box-shadow: 20px 20px 1px rgb(39, 198, 39);
}

.sponsorship__ourPartner {
    .sponsorship__ourPartner__sponsorList {
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
        align-items: center;
        width: 70%;
        margin: 0 auto;

        @media screen and (max-width:1000px) {
            grid-template-columns: 150px 150px 150px;
            width: 90%;
        }

        @media screen and (max-width:800px) {
            grid-template-columns: 150px 150px;
            width: 90%;
        }

        img {
            max-height: 150px;
            max-width: 150px;
        }
    }
}