@import './variable.scss';


.sponsorship__header {
    position: relative;
    height: 100vh;

    .sponsorship__header__background {
        background-image: url(../assets/images/photo_section/outreach_trickfire_robotics.jpg);
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $fadeBlack;
        }

        .sponsorship__header__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 70%;

            /*tablet*/
            @media screen and (max-width:1000px) {
                width: 90%;
            }

            h1 {

                /*phone*/
                @media screen and (max-width:850px) {
                    width: fit-content;
                }
            }

        }
    }
}