$primary-green: #00B733;
$primary-black: #333333;
$black: black;
$white: white;
$fadeWhite: rgba(255, 255, 255, 0.8);
$fadeBlack: rgba(0, 0, 0, 0.7);
$grey: rgb(76, 76, 76);

$theme-colors: (
    "primary":$primary-green,
    "secondary":$primary-black,
    "black":$black,
    "white":$white,
    "fadeWhite":$fadeWhite,
    "fadeBlack":$fadeBlack,
    "grey": $grey
);


@import 'node_modules/bootstrap/scss/bootstrap.scss';